[includeIf "gitdir:~/dev/github/"]
  path = ~/.gitconfig-github
  path = ~/.gitconfig-github-local
[includeIf "gitdir:~/dev/gitlab/"]
  path = ~/.gitconfig-gitlab

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = delta
	editor = hx

[interactive]
	diffFilter = delta --line-numbers

[delta]
    navigate = true    # n and N navigation
    side-by-side = false
    line-numbers = true
    syntax-theme = ansi

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = zebra

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[remote]
	pushDefault = origin

[init]
	defaultBranch = main

[rerere]
	enabled = true
