[includeIf "gitdir:~/dev/github/"]
  path = ~/.gitconfig-github
[includeIf "gitdir:~/dev/gitlab/"]
  path = ~/.gitconfig-gitlab

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = delta --features "$((defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 || grep -q '^LookAndFeelPackage=.*[dD]ark' ~/.config/kdeglobals 2>/dev/null) && echo dark-mode || echo light-mode)"
	editor = hx

[interactive]
	diffFilter = delta --line-numbers --features "$((defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 || grep -q '^LookAndFeelPackage=.*[dD]ark' ~/.config/kdeglobals 2>/dev/null) && echo dark-mode || echo light-mode)"

[delta]
    navigate = true    # n and N navigation
    side-by-side = false
    syntax-theme = ansi

[delta "light-mode"]
    light = true

[delta "dark-mode"]
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = zebra

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[remote]
	pushDefault = origin

[init]
	defaultBranch = main
