[includeIf "gitdir:~/Dev/github/"]
  path = ~/.gitconfig-github
[includeIf "gitdir:~/Dev/gitlab/"]
  path = ~/.gitconfig-gitlab

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
    pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark-mode || echo light-mode)"
	editor = hx

[interactive]
    diffFilter = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark-mode || echo light-mode)"

[delta]
    navigate = true    # n and N navigation
    side-by-side = false
    syntax-theme = ansi

[delta "light-mode"]
    light = true

[delta "dark-mode"]
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[remote]
	pushDefault = origin
