.mtk7,
.mtk6.mtki,
.mtk5.mkti,
/* .mtk12, */
/* .mtk12.mtti, */
.mtk3.mtki,
.mtk32.mtki,
.mtk1.ced-TextEditorDecorationType19–1,
.mtk27.ced-TextEditorDecorationType19–1,
.mtk31,
.mtk7,
.mtk1.ced-TextEditorDecorationType20–1,
.mtk27.ced-TextEditorDecorationType21–1,
.mtk10,
.mtk13,
.mtk23.mtki {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-size: 1.1em;
}
