* {
	font-family:
		"SF Pro Text", "Inter", "Segoe UI, NotoSans Nerd Font", sans-serif;
	font-size: 13px;
	min-height: 0;
	border: none;
	border-radius: 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
	background: transparent;
	color: #c6d0f5;
	margin: 0px;
	font-weight: 500;
}

/* --- Left Modules (Individual, Fully Rounded Blocks - With Horizontal Spacing & Simple Hover) --- */
#memory,
#disk,
#cpu,
#custom-gpu,
#temperature,
#custom-brightness {
	background-color: #1a1b26;
	padding: 0.3rem 0.7rem;
	margin: 3px 0px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	min-width: 0;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	transition: all 0.3s ease;
}

#workspaces button.focused,
#workspaces button.active {
	color: white;
	transition: all 0.3s ease;
	animation: colored-gradient 10s ease infinite;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
	background-color: transparent;
	color: lightgray;
	transition: all 0.3s ease;
}

#workspaces button.empty {
	opacity: 0.3;
}

#workspaces button.urgent {
	background-color: indianred;
	color: red;
	transition: all 0.3s ease;
}

/* --- Right Modules (Single, Seamless Bar ) --- */
#bluetooth,
#clock.date,
#clock.time,
#custom-nightlight,
#custom-audioinput,
#custom-lock,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-spotify,
#custom-steam,
#custom-updates,
#custom-uptime,
#custom-weather,
#custom-wlsunset,
#network,
#privacy,
#pulseaudio,
#wireplumber {
	background-color: #1a1b26;
	padding: 0.3rem 0.7rem;
	margin: 2px 0px;
	border-radius: 6px;
	box-shadow: none;
	min-width: 0;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#bluetooth:hover,
#clock.date:hover,
#custom-nightlight:hover,
#custom-audioinput:hover,
#custom-brightness:hover,
#custom-lock:hover,
#custom-power:hover,
#custom-quit:hover,
#custom-reboot:hover,
#custom-steam:hover,
#custom-steam:hover,
#custom-updates:hover,
#custom-uptime:hover,
#custom-weather:hover,
#custom-wlsunset:hover,
#network:hover,
#privacy:hover,
#pulseaudio:hover,
#wireplumber:hover {
	background-color: rgb(41, 42, 53);
}

#temperature.critical,
#network.disabled,
#network.disconnected {
	color: #e78284;
}

#network.linked,
#network.ethernet,
#network.wifi,
#custom-steam.running,
#custom-updates.has-updates,
#bluetooth.connected {
	color: #2196f3;
}

#custom-spotify.playing {
	color: #1db954;
}

/* biome-ignore lint/correctness/noUnknownTypeSelector: waybar module's tooltips */
tooltip {
	background-color: #1a1b26;
	color: #dddddd;
	padding: 12px;
	margin: 4px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
