* {
	font-family:
		"SF Pro Text", "Inter", "Segoe UI, NotoSans Nerd Font", sans-serif;
	font-size: 13px;
	min-height: 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
	background: transparent;
	color: #c6d0f5;
	margin: 0px;
	font-weight: 500;
}

/* --- Left Modules (Individual, Fully Rounded Blocks - With Horizontal Spacing & Simple Hover) --- */
#workspaces,
#memory,
#cpu,
#disk,
#temperature,
#custom-gpu {
	background-color: #1a1b26;
	padding: 0.3rem 0.7rem;
	margin: 3px 0px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	min-width: 0;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#workspaces {
	padding: 2px;
}

#workspaces button {
	color: #babbf1;
	border-radius: 5px;
	/* Workspaces buttons are always rounded */
	padding: 0.3rem 0.6rem;
	background: transparent;
	transition: all 0.2s ease-in-out;
	border: none;
	outline: none;
}

#workspaces button.active {
	color: #99d1db;
	background-color: rgba(153, 209, 219, 0.1);
	box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
	background: rgb(41, 42, 53);
}

/* --- Right Modules (Single, Seamless Bar ) --- */
#bluetooth,
#clock.date,
#clock.time,
#custom-brightness,
#custom-lock,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-spotify,
#custom-steam,
#custom-updates,
#custom-uptime,
#custom-weather,
#custom-wlsunset,
#network,
#privacy,
#pulseaudio,
#wireplumber {
	background-color: #1a1b26;
	padding: 0.3rem 0.7rem;
	margin: 2px 0px;
	border-radius: 6px;
	box-shadow: none;
	min-width: 0;
	border: none;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

#bluetooth:hover,
#clock.date:hover,
#clock.time:hover,
#custom-brightness:hover,
#custom-lock:hover,
#custom-power:hover,
#custom-quit:hover,
#custom-reboot:hover,
#custom-steam:hover,
#custom-steam:hover,
#custom-updates:hover,
#custom-uptime:hover,
#custom-weather:hover,
#custom-wlsunset:hover,
#network:hover,
#privacy:hover,
#pulseaudio:hover,
#wireplumber:hover {
	background-color: rgb(41, 42, 53);
}

.not-power {
}

#temperature.critical,
#network.disconnected {
	color: #e78284;
}

#wireplumber.source,
#bluetooth {
	font-size: 16px;
	padding: 0.2rem;
	margin-left: 0;
}

#wireplumber {
	/*marg-left: -0.4rem;*/
}

#custom-updates.has-updates,
#bluetooth.connected {
	color: #2196f3;
}

#custom-spotify.playing {
	color: #1db954;
}

tooltip {
	background-color: #1a1b26;
	color: #dddddd;
	padding: 12px;
	margin: 4px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
